<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>게시글 등록</title>
</head>
<body>
<div class="container">
  <form action="/books" method="get">
    <div class="form-group">
        <div>검색하기</div>
        <select name="category" >
            <option th:each="category : ${searchCategory}" th:value="${category.value}"
                    th:text="${category.meaning}" />
        </select>
      <input type="text" id="query" name="query">
    </div>
    <button type="submit" id="btnSearch">검색하기</button>
  </form>
</div>
<div id="searchResult">
  <table>
    <span th:each="response : ${response}">
        <td>
            <tr th:each="item: ${response.getItem()}">
                <td>
                  <img id="img" th:src="${item.cover}" alt="책커버이미지" />
                </td>
                <td>
                  <a th:text="${item.title}" th:href="${item.link}" />
                </td>
            </tr>
        <td>
    </span>
  </table>

</div>
</body>

</html>