<!DOCTYPE html>


<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
</head>
<body>
    <div>
        <table>
            <thead>
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작가</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.id}"></td>
                    <td><a th:text="${board.title}" th:href="${board.id}"></a></td>
                    <td th:text="${board.writer}"></td>
                </tr>
            </tbody>
        </table>
        <button type="button" id="btnWrite">게시글 작성하기</button>
    </div>

</body>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function (){

        $("a").on("click", function (e) {
            e.preventDefault();

            let id = $(this).attr("href");
            let url = "/boards/detail/" + id;
            location.href = url;
        });

        $("#btnWrite").on("click", function () {
            let url = "/boards?write"
            location.href = url;
        });
    });
</script>
</html>