<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block th:fragment="header">
    <header>
        <div class="px-3 py-2 text-bg-light">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <img src="/icons/bootstrap.svg" class="bi me-2" width="40" height="32" alt="house">
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                <img src="/icons/house-door.svg" class="bi d-block mx-auto mb-1" width="24" height="24" alt="house">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                <img src="/icons/book.svg" class="bi d-block mx-auto mb-1" width="24" height="24" alt="house">
                                서재
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                <img src="/icons/emoji-smile.svg" class="bi d-block mx-auto mb-1" width="24" height="24" alt="house">
                                캐릭터
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                <img src="/icons/pencil-square.svg" class="bi d-block mx-auto mb-1" width="24" height="24" alt="house">
                                기록
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                <img src="/icons/person-circle.svg" class="bi d-block mx-auto mb-1" width="24" height="24" alt="house">
                                프로필
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>